@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

@layer utilities {
  .meme-text-shadow {
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
      -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
      2px 2px 5px #000;
  }
}
