@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  font-family: "MyFont", sans-serif;
}

@layer base {
  @font-face {
    font-family: "MyFont";
    src: url("/src/assets/fonts/BADABB__.ttf") format("truetype");
    /* font-weight: 400; */
    /* font-style: normal; */
  }
}

@layer utilities {
  .meme-text-shadow {
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
      -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
      2px 2px 5px #000;
  }
}
